.env
bazarr/
duplicati/
ha/config/.HA_VERSION
ha/config/.storage/
ha/config/blueprints/
ha/config/custom_components/
ha/config/home-assistant.log
ha/config/home-assistant.log.1
ha/config/home-assistant.log.fault
ha/config/home-assistant_v2.db
ha/config/home-assistant_v2.db-shm
ha/config/home-assistant_v2.db-wal
ha/config/image/
ha/config/ip_bans.yaml
ha/config/secrets.yaml
ha/config/themes/
ha/config/tts/
ha/config/www/
mosquitto/
overseerr/
plex-config/
plex-meta-manager/
portainer-data/
prowlarr/
qbittorrent/
radarr/
searcharr/
sonarr/
tautulli/
vscode-server/
zigbee2mqtt/